<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{ with .Site.LanguageCode }} xml:lang="{{ . }}" lang="{{ . }}"{{ end }}>
<head>
    <script>
      (function() {
        const savedTheme = localStorage.getItem("theme");
        if (savedTheme === "dark") {
          document.documentElement.classList.add("dark-theme");
        }
      })();
    </script>

  

    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.0/dist/echarts.min.js"></script>
    {{ partial "head/scripts.html" . }}

    <!-- Content Type -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <link rel="icon" href={{ .Site.Params.favicon | default "/favicon.png" }}>

    <!-- META -->
    {{ partial "head/meta.html" . }}

    <!-- CSS stylesheets -->
    {{ partial "head/stylesheets.html" . }}
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
    

    <!-- Custom style tag for parameterized CSS -->
    {{ partial "head/css.html" . }}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DPGNBHMMQL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DPGNBHMMQL');
    </script>
     <script src="{{ "js/mobile-menu.js" | relURL }}"></script>
     <script>
      (function() {
        if (localStorage.getItem("theme") === "dark") {
          document.documentElement.classList.add("dark-theme");
        }
      })();
    </script>
    <link rel="stylesheet" href="/css/dark.css" media="(prefers-color-scheme: dark)">

    </head>
