/* /static/css/custom.css */

/* Full-width image styles */
.full-width-image {
    width:100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center-image {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Featured image styles */
.featured-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: scale-down;
}

.homepage-featured-image {
    width: 100%;
    height: auto;
    max-height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* This ensures the image covers the area without distortion */
}

.full-width {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.side-by-side {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .side-by-side .image-wrapper {
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box;
  }
  
  .side-by-side img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
 


 



/* Recent updates section */
.recent-updates {
    margin-top: 40px;
}

/* Tag styles */

.tag, .series-item, .tagCloud-tag {
    background-color: #DCC7AA; /* Tag background */
    color: #333; /* Tag text color */
    border: none; /* Remove the border */
    border-radius: 4px; /* Rounded corners */
    padding: 5px 10px; /* Padding */
    font-size: 0.9em; /* Font size */
    text-decoration: none; /* No underline */
}



/* Tag Cloud styles */
.tagCloud {
    margin-bottom: 20px;
    
}

.tagCloud-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tagCloud-tag {
    display: inline-block;
    font-size: 14px;
    color: var(--color-link);
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 12px;
    margin: 2px;
    text-decoration: none;
}

.tagCloud-tag:hover {
    background-color: #007bff;
    color: #fff;
}

.tagCloud-count {
    color: var(--body-text-color);
    margin-left: 5px;
}

/* Main content and sidebar layout */
.main-content {
    display: flex;
    flex-wrap: wrap;
   
    gap: 20px; /* Space between list and sidebar */
    margin-left: 15px; /* Adjust the left margin to account for the narrower sidebar */
    align-items: flex-start;}

.posts {
    flex: 0 1 70%;
}

.sidebar-widgets {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Add space between widgets */
    margin-top: 20px; /* Add space above the first widget */
}
.sidebar-widgets .widget {
    margin-bottom: 20px;
    max-width: 200px; /* Adjust the max-width for the widgets */
}


/* db-card -------- start */
.db-card { 
    margin: 2.5rem 3rem; 
    background: var(--card-background); 
    border-radius: 5px; 
    box-shadow: 0 6px 10px 0 #00000053; 
    max-height: 180px;
    max-width: 80%;
    
}
.db-card-subject { 
    display: flex; 
    align-items: flex-start; 
    line-height: 1.6; 
    padding: 12px; 
    position: relative; 
}
.dark .db-card { 
    background: var(--card-background); 
}
.db-card-content { 
    flex: 1 1 auto; 
}
.db-card-post { 
    width: 100px; 
    margin-right: 15px; 
    display: flex; 
    flex: 0 0 auto; 
}
.db-card-title { 
    margin-bottom: 3px; 
    font-size: 14px; 
    color: var(--card-text-color-main); 
}
.db-card-title a { 
    text-decoration: none !important; 
}
.db-card-abstract, .db-card-comment { 
    font-size: 12px; 
    overflow: auto; 
    max-height: 5rem; 
    color: var(--card-text-color-main); 
}
.db-card-cate { 
    position: absolute; 
    top: 0; 
    right: 0; 
    background: #c98474; 
    padding: 1px 8px; 
    font-size: small; 
    font-style: italic; 
    border-radius: 0 8px 0 8px; 
    text-transform: capitalize; 
}
.db-card-post img { 
    width: 90px !important; 
    height: 120px !important; 
    border-radius: 4px; 
    -o-object-fit: cover; 
    object-fit: cover; 
}
.rating { 
    margin: 0 0 5px; 
    font-size: 13px; 
    line-height: 1; 
    display: flex; 
    align-items: center; 
}
.rating .allstardark { 
    position: relative; 
    color: #c98474; 
    height: 16px; 
    width: 80px; 
    background-size: auto 100%; 
    margin-right: 8px; 
    background-repeat: repeat; 
    background-image: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiPjxwYXRoIGQ9Ik05MDguMSAzNTMuMWwtMjUzLjktMzYuOUw1NDAuNyA4Ni4xYy0zLjEtNi4zLTguMi0xMS40LTE0LjUtMTQuNS0xNS44LTcuOC0zNS0xLjMtNDIuOSAxNC41TDM2OS44IDMxNi4ybC0yNTMuOSAzNi45Yy03IDEtMTMuNCA0LjMtMTguMyA5LjMtMTIuMyAxMi43LTEyLjEgMzIuOS42IDQ1LjNsMTgzLjcgMTc5LjEtNDMuNCAyNTIuOWMtMS4yIDYuOS0uMSAxNC4xIDMuMiAyMC4zIDguMiAxNS42IDI3LjYgMjEuNyA0My4yIDEzLjRMNTEyIDc1NGwyMjcuMSAxMTkuNGM2LjIgMy4zIDEzLjQgNC40IDIwLjMgMy4yIDE3LjQtMyAyOS4xLTE5LjUgMjYuMS0zNi45bC00My40LTI1Mi45IDE4My43LTE3OS4xYzUtNC45IDguMy0xMS4zIDkuMy0xOC4zIDIuNy0xNy41LTkuNS0zMy43LTI3LTM2LjN6TTY0NC44IDU2MS42bDM2LjEgMjEwLjNMNTEyIDY3Mi43IDMyMy4xIDc3MmwzNi4xLTIxMC4zLTE1Mi44LTE0OUw0MTcuNiAzODIgNTEyIDE5MC43IDYwNi40IDM4MmwyMTEuMiAzMC43LTE1Mi44IDE0OC45eiIgZmlsbD0iI2Y5OWIwMSIvPjwvc3ZnPg==);
}
.rating .allstarlight { 
    position: absolute; 
    left: 0; 
    color: #b56357; 
    height: 16px; 
    overflow: hidden; 
    background-size: auto 100%; 
    background-repeat: repeat; 
    background-image: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiPjxwYXRoIGQ9Ik05MDguMSAzNTMuMWwtMjUzLjktMzYuOUw1NDAuNyA4Ni4xYy0zLjEtNi4zLTguMi0xMS40LTE0LjUtMTQuNS0xNS44LTcuOC0zNS0xLjMtNDIuOSAxNC41TDM2OS44IDMxNi4ybC0yNTMuOSAzNi45Yy03IDEtMTMuNCA0LjMtMTguMyA5LjMtMTIuMyAxMi43LTEyLjEgMzIuOS42IDQ1LjNsMTgzLjcgMTc5LjEtNDMuNCAyNTIuOWMtMS4yIDYuOS0uMSAxNC4xIDMuMiAyMC4zIDguMiAxNS42IDI3LjYgMjEuNyA0My4yIDEzLjRMNTEyIDc1NGwyMjcuMSAxMTkuNGM2LjIgMy4zIDEzLjQgNC40IDIwLjMgMy4yIDE3LjQtMyAyOS4xLTE5LjUgMjYuMS0zNi45bC00My40LTI1Mi45IDE4My43LTE3OS4xYzUtNC45IDguMy0xMS4zIDkuMy0xOC4zIDIuNy0xNy41LTkuNS0zMy43LTI3LTM2LjN6IiBmaWxsPSIjZjk5YjAxIi8+PC9zdmc+); 
}

/* db-card -------- end */


/* Ensure proper spacing and alignment for related posts and navigation links */
.related {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #eee;
  }
  
  .related-posts {
    padding-left: 0;
    list-style: none;
    
  }
  
  .related-posts h3 {
    margin-top: 0;
  }
  
  .related-posts li small {
    font-size: 75%;
    color: #999;
  }
  
  .related-posts li a:hover {
    color: #268bd2;
    text-decoration: none;
  }
  
  .related-posts li a:hover small {
    color: inherit;
  }
  
  .footer-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #eee;
    
  }
  
  .footer-navigation .previous-post,
  .footer-navigation .next-post {
    width: 45%;
  }
  
  .footer-navigation .previous-post {
    text-align: left;
  }
  
  .footer-navigation .next-post {
    text-align: right;
  }
  
  
/* Post comments section */
.post-comments {
    margin-top: 2em;
    padding-top: 1.5rem;
    clear: both;
}


.subtle-line {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0.5;
    height: 0.5px;
    background: #8b8a8a; /* Light gray color */
}

body.dark-theme {
    background-color: #1e1e1e; /* Dark background color */
    color: #e0e0e0; /* Light text color */
}

/* Custom styles for dark theme */
body.dark-theme .sidebar .sidebar-nav {
    background-color: #333; /* Menu background */
    color: #e0e0e0; /* Default text color */
}

body.dark-theme .post-card {
    background-color: #333; /* Dark gray background for cards */
    color: #e0e0e0; /* Light text color for better contrast */
}

body.dark-theme .post-card a {
    color: #e0e0e0; /* Light color for links and titles */
}

body.dark-theme .heatmap {
    background-color: #333; /* Dark gray background for heatmap */
    color: #fff; /* Light text color for better contrast */
}

body.dark-theme .post-title a {
    color: #fff; /* Light color for post titles */
}

body.dark-theme .post-title a:hover {
    color: #bbb; /* Slightly darker color on hover for better visibility */
}

body.dark-theme .footer,
body.dark-theme .subtle-line {
    background-color: #1e1e1e; /* Dark footer background color */
    color: #e0e0e0; /* Light text color */
}
body.dark-theme .footer-navigation a {
    color: #c0c0c0; /* Footer link color */
}

body.dark-theme .footer-navigation a:hover {
    color: #fff; /* Footer link hover color */
}

/* Sidebar in dark theme */
body.dark-theme .sidebar {
    background-color: #333; /* Dark background for sidebar */
    color: #e0e0e0; /* Light text color for better contrast */
}

/* Sidebar links in dark theme */
body.dark-theme .sidebar a,
body.dark-theme .sidebar-about h1 {
    color: #c0c0c0; /* Link color */
}

body.dark-theme .sidebar a:hover,
body.dark-theme .sidebar-about h1:hover  {
    color: #FFF; /* Link hover color */
}

/* Sidebar headers in dark theme */
body.dark-theme .sidebar h1, 
body.dark-theme .sidebar h2, 
body.dark-theme .sidebar h3, 
body.dark-theme .sidebar h4, 
body.dark-theme .sidebar h5, 
body.dark-theme .sidebar h6 {
    color: #d0d0d0; /* Heading color */
    font-size: 1.2em;
}

/* Sidebar social icons in dark theme */
body.dark-theme .sidebar .social-icons a {
    color: #FFF; /* Social icons color */
}

body.dark-theme .sidebar p {
    color: #9A9A9A; /* Paragraph color */
}

body.dark-theme .sidebar-about h1 {
    color: #d1d1d1;  
    font-weight: 300;
    font-size: 1.4em;
    font-family: "Abril Fatface", serif;
  }


/* Sidebar image borders in dark theme */
body.dark-theme .sidebar img {
    border-color: #515151; /* Image border color */
    width: 200%; /* Adjust the logo size */
    max-height: 300px; /* Set a maximum height */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image is a block element */
    margin: 0 10; /* Center the logo */
}

/* Tag and series container in dark theme */
body.dark-theme .widget {
    background-color: #1e1e1e; /* Dark background for widgets */
    color: #EEE; /* Text color for widgets */
    border: none; /* Remove border */
    border-radius: 8px; /* Optional: rounded corners */
    box-shadow: none; /* Remove any shadow */
    max-width: 150px; /* Adjust the width to fit within the sidebar */
    margin: 0 auto; /* Center widgets */
}
body.dark-theme .fixed-top-menu,
body.dark-theme .top-menu {
    background-color: #333; /* Dark background color */
    color: #e0e0e0; /* Light text color */
}

/* Ensure the title and other elements are properly styled */
body.dark-theme .fixed-top-menu .title,
body.dark-theme .top-menu .title {
    color: #C97675; /* Light text color */
}

/* Style the light/dark toggle button in dark mode */
body.dark-theme .btn-light-dark {
    background-color: #444; /* Dark background for the button */
    color: #e0e0e0; /* Light icon color */
}

/* Ensure the icons are properly visible */
body.dark-theme .btn-light-dark svg {
    fill: currentColor;
}

/* Tag styles in dark theme */
body.dark-theme .tag, 
body.dark-theme .series-item, 
body.dark-theme .tagCloud-tag {
    background-color: #555; /* Dark background for tags */
    color: #EEE; /* Light text color for better contrast */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    padding: 4px 8px; /* Padding for better spacing */
    font-size: 0.8em; /* Font size */
    text-decoration: none; /* No underline */
}

body.dark-theme .tag:hover, 
body.dark-theme .series-item:hover, 
body.dark-theme .tagCloud-tag:hover {
    background-color: #666; /* Hover background color */
    color: #FFF; /* Hover text color */
}

/* Widget headers in dark theme */
body.dark-theme .widget h3 {
    font-size: 1.2em; /* Font size for headers */
    margin-bottom: 10px; /* Space below the header */
    color: #d0d0d0; /* Header color */
}

/* Links in widget lists in dark theme */
body.dark-theme .widget ul li a {
    color: #268BD2; /* Link color */
    text-decoration: none;
}

body.dark-theme .widget ul li a:hover {
    color: #FFF; /* Hover link color */
    text-decoration: underline;
}

/* Ensure proper spacing and alignment */
body.dark-theme .tags, 
body.dark-theme .series {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; /* Space between tags and series items */
}

body.dark-theme .tags li, 
body.dark-theme .series li {
    margin-bottom: 10px; /* Space between list items */
}

body.dark-theme .tagged-posts-column ul li a {
    color: #ece7e7; /* Muted blue color */
    text-decoration: none;
}
body.dark-theme .tagged-posts-column ul li a:hover {
    color: #F7A38F; /* Muted blue color */
    text-decoration: underline;
}

body.dark-theme .content {
    background-color: #1e1e1e; /* Dark background for main content */
    color: #e0e0e0; /* Light text color */
}





/* Timeline styles */
.timeline-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    position: relative;
}

.timeline-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 12px;
    width: 130px; /* Adjusted width */
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -18px; /* Adjust to connect lines between items */
    width: calc(100% + 40px); /* Extend the line across the item */
    height: 2px;
    background-color: #ddd;
    z-index: -1;
}

.timeline-item::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px; /* Adjusted size */
    height: 10px; /* Adjusted size */
    background-color: #fff;
    border: 2px solid #598DA0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.timeline-item-content {
    padding: 4px 4px; /* Adjust padding as needed */
    margin: 0; /* Remove margin */
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -10px; /* Adjust to align the content properly */
    z-index: 2;
    font-size: 0.8em; /* Adjust text size */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    line-height: 1; /* Adjust line height if needed */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px; /* Ensure minimum height for content */
}

.timeline-date {
    font-size: 0.9em; /* Reduced date text size */
    color: #468bd3;
    margin-top: 8px; /* Space between content and date */
}

/* Sidebar styles */
.sidebar {   
    display: flex;
    flex:1;
    flex-direction: column;   
    background-color: #F5EBE0;   
    padding: 2rem 1rem;
    color: rgba(255, 255, 255, 0.5);
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    text-align: right;
    overflow-y: auto;
    /*background-color: #f5ebe0;*/
    z-index: 1000;
    /**transform: translateX(0%); /* Hide by default */
    transition: transform 0.3s ease-in-out;
    align-items: right;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    height: auto;
}

.sidebar .container {
    max-width: 140px; /* Adjust the max-width to fit within the new sidebar width */
    align-items: right;
    text-align: right;
}

.sidebar .title {
    color: #598DA0; /* Title color */
    font-size: 1.2em; 
    text-align: right;
}

.sidebar .sidebar-nav {
    background-color: #F5EBE0; /* Menu background */
    padding-left: 0;
    color: #333; /* Default text color */
    align-items: right;
    text-align: right;
}

.sidebar .sidebar-nav .heading {
    color: #c98474; /* Heading color */
    padding: 8px 0; /* Adjust the padding for better spacing */
    font-size: 0.9em; /* Reduce font size */
    text-align: right;
}

.sidebar .sidebar-nav .bullet a {
    color: #c98474; /* Link color */
    text-decoration: none; /* Remove underline */
    display: block;
    padding: 8px 0;
    font-size: 0.9em;
    }

.sidebar .sidebar-nav .bullet a:hover {
    color: #c98474; /* Link hover color */
}

.sidebar .social-icons a {
    color: #598DA0; /* Social icons color */
    text-decoration: none;
    margin: 0 5px;
}

.sidebar .social-icons a:hover {
    color: #F7A38F; /* Social icons hover color */
}

.sidebar .copyright {
    color: #909090; /* Copyright text color */
    margin-top: 25px;
    font-size: 0.7em;
}

.sidebar a {
    color: #c98474;
    text-align: right;
}

.sidebar a:hover {
    color: #F7A38F;
   
}


.sidebar p {
    color: #909090; /* Paragraph color */
}

.sidebar-nav .bullet a {
    color: #333; /* Darker text color for better contrast */
    background-color: #DCC7AA; /* Light background for better readability */
    padding: 5px; /* Add padding for better click area */
    border-radius: 4px; /* Rounded corners for links */
    
}

.sidebar-nav .bullet a:hover {
    color: #FFF; /* Change text color on hover */
    background-color: #6b7a8f; /* Darken background on hover */
}

.sidebar .heading, .sidebar .bullet a {
    font-weight: bold; /* Make text bold for better readability */
}

/* General background and text colors */
body {
    background-color: #FAF9F6; /* Light background color */
    color: #333; /* Default text color */
    font-size: 16px;
    line-height: 1.6;
    font-family: roboto,sans-serif;
    letter-spacing: .33px;
    overflow: auto !important;
    height: auto !important;
    text-rendering: optimizeLegibility;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

* {
    font-size: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: #C97675; /* Heading color */
}
h1 {font-size: 1.4em;}
h2 {font-size: 1.3em;}
a {
    color: #6b7a8f; /* Link color */
}

a:hover {
    color: #F7A38F;  /* Link hover color */
}
.post li {
    font-size: inherit; /* Inherit the font size from the parent */
    font-family: inherit; /* Inherit the font family from the parent */
    color: inherit; /* Inherit the color from the parent */
    line-height: inherit; /* Inherit the line height from the parent */
}
/* Card and widget background colors */
.widget {
    background-color: #F5EBE0; /* Same as the surrounding background color */
    color: #333; /* Text color */
    padding: 10px;
    border: none; /* Remove the border */
    border-radius: 8px; /* Optional: keep border radius for rounded corners */
    box-shadow: none; /* Remove any shadow if present */
    width: 120px;
    max-width: 150;
    margin: 0 auto; /* Center the widgets */
    margin-bottom: 20px;
    width: 100%; /* Set width to 100% of the parent container */
    max-width: 200px; /* Add a max-width for better control */
    background-color: #faf9f6;
}

.widget:hover {
    border-color: #598DA0; /* Border hover color */
}


/* Adjust the font size of the tags and series */
.tag, .series-item, .tagCloud-tag {
    background-color: #F5E6DF; /* Tag background */
    border-color: #333;
    color: #333; /* Tag text color */
    border: none; /* Remove the border */
    border-radius: 4px; /* Rounded corners */
    padding: 3px 4px; /* Adjusted padding for better spacing */
    font-size: 0.8em; /* Adjusted font size */
    text-decoration: none; /* No underline */
}

.tag:hover, .series-item:hover, .tagCloud-tag:hover {
    background-color: #C97675; /* Tag hover background */
    color: #FFF; /* Tag hover text color */
}

/* Ensure tags and series are displayed as block elements */
.tags, .series {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Add space between tags and series items */
}

/* Ensure tags and series have enough padding and margin */
.tags li, .series li {
    margin-bottom: 10px;
}

/* Additional styling for better readability */
.widget h3 {
    font-size: 1.2em; /* Adjusted font size for headers */
    margin-bottom: 10px; /* Space below the header */
    color: #C97675; /* Header color */
}

.widget ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.widget ul li {
    margin-bottom: 10px; /* Space between list items */
}

.widget ul li a {
    color: #598DA0; /* Link color */
    text-decoration: none;
}

.widget ul li a:hover {
    color: #333; /* Link hover color */
    text-decoration: underline;
}



.btn-light-dark {
    padding: 0;
    margin: auto;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 15px; /* Reduced width */
    height: 15px; /* Reduced height */
    background-color: var(--moon-sun-background-color);
}




.content {   
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 85%; /* Adjust the width to 85% to account for the narrower sidebar */
   max-width: none;
   margin: 0 auto;
   
}


.hamburger {
    display: none;
      font-size: 1.5rem;
      cursor: pointer;
     position: absolute;
     top: 1rem;
     left: 1rem;
     z-index: 31;
}


.sidebar.active {
    transform: translateX(0);
}
.sidebar-nav-item.active {
    font-weight: bold;
}

.posts {
    overflow: visible !important; /* Ensure it expands naturally */
    height: auto !important; /* Remove any fixed height */
    flex-grow: 1; /* Allow it to expand */
    width: 100%;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Ensure this is higher than the z-index of your top menus */
    display: none; /* Hide by default */
}
.overlay.active {
    display: block;
}
    

.wrapper {
    display: flex;
    height: 100vh;
}
  /* Sidebar links */
  .sidebar a, li {
    color: #444;
    font-size: 1.1em;
  }
  
  /* About section */
  .sidebar-about {
    text-align: right;
    color: #b56357;
  }
  .sidebar-about h1 {
    color: #444;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-size: 1.4em;
    font-family: "Abril Fatface", serif;
  }
  .sidebar-about h1:hover {
    color: #F7A38F;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.5em;
    font-family: "Abril Fatface", serif;
  }

  .sidebar-about img {
    border-color: #515151; /* Image border color */
    width: 100px; /* Adjust the logo size */
    max-height: 300px; /* Set a maximum height */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image is a block element */
    margin: 2em auto 10px; /* Center the logo */
    margin-block-end: 15px; 
}
  /* Sidebar nav */
  .sidebar-nav {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 0;
    list-style: none;
    text-align: right;
    
  }
  
  .sidebar-nav .heading:hover {
     font-size: 1em;
    }

  .subnav {
    list-style: none;
    padding-left: 0;
  }
  
  .sidebar-nav-item {
    display: block;
  }
  a.sidebar-nav-item:hover,
  a.sidebar-nav-item:focus {
    text-decoration: underline;
    
  }
  .sidebar-nav-item.active {
    font-weight: bold;
  }
  
  
  /* Light/Dark toggle button styles */
  .btn-light-dark {
    padding: 0;
    margin: auto;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 30px; /* Reduced width */
    height: 30px; /* Reduced height */
    background-color: var(--moon-sun-background-color);
  }
  
  .btn-light-dark svg {
    width: 15px; /* Reduced width */
    height: 15px; /* Reduced height */
  }
  
  /* Right sidebar widget adjustments */
  .widget {
    background-color: var(--widget-bg-color); /* Use existing background color */
    color: var(--widget-text-color); /* Use existing text color */
    padding: 10px;
    border: none; /* Remove the border */
    border-radius: 10px; /* Optional: keep border radius for rounded corners */
    box-shadow: none; /* Remove any shadow if present */
    width: 180px; /* Adjust the width to reduce the widget size */
    margin: 0 auto; /* Center the widgets */
  
  }
  
/* Dropdown menu styles */
.dropdown {
    position: relative;
    z-index: 50;
}

.dropdown-toggle {
    white-space: nowrap;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 50;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

/* Floating top menu/bar styles */
.fixed-top-menu, .top-menu {
    position: fixed;
    display: none; /* Hide by default */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f5ebe0; /* Adjust background color as needed */
    color: #333;    
    padding: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 90;
}

.title {
    font-size: 1.2rem;
    flex: 1; /* Ensure the title takes up available space */
    text-align: center; /* Center the title text */
    color: #C97675;       
    font-weight: 300;  
    font-family: "Abril Fatface", serif;       
}


.btn-light-dark svg {
    fill: currentColor;
}

/* Ensure valid CSS syntax */
body {
    -webkit-text-size-adjust: 100%; /* Example correction */
}

.custom-class {
    margin: 10px; /* Ensure margin value is valid */
    max-width: 100%; /* Ensure max-width value is valid */
}

.image-container {
    text-align: center;
    margin: 1em 0;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto; 
    margin-bottom: 0.2em;
  }
  
  .image-note {
    font-family: "Arial", sans-serif; /* Replace with your site's primary font */
    font-size: 0.6em; /* Adjust size as needed */
    font-style: italic; /* Optional: Italicize the note */
    color: #555; /* Adjust to match your site's color scheme */
    text-align: center; /* Center-align the note */
    margin-top: 0.1em; /* Add spacing above the note */
  }
  
  .note-container {
    /* background-color: #f8f9fa; /* Light background for the note */
    border-left: 4px solid #007bff; /* Blue border on the left */
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
  }
  
  .note-text {
    font-family: "Arial", sans-serif; /* Font family for the note text */
    font-size: 0.5em;
    color: #333; /* Dark text color for readability */
    line-height: 1.5;
    margin-top: 0.9em;
    font-style: italic;
  }
  
  .note-container .note-text {
    margin: 0;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 10px 20px; /* Space between grid items */
    justify-content: center;
    padding: 15px;
    max-height: none !important;
    overflow: visible !important; 
    margin: 0 auto; /* Centers the container */
}

.post-card {
    border: none; /* Remove the border */
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Subtle shadow */
    background-color: #fff;
    transition: box-shadow 0.3s, transform 0.3s;
   
}


.post-content {
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.read-more-link {
    margin-top: 5px;
    font-weight: bold;
}


.post-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}


.post-image img {
    width: 100%;
    height: auto;
   max-height: 200px;
    object-fit: cover; /* Crop images to fit */
    border-bottom: 1px solid #ddd;
    
    margin-bottom: 0px;
}


.post-header {
    margin-bottom: 0px;
}

.post-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    color:#444
}

.post-title a {
    text-decoration: none;
    color: #444;
}

.post-title a:hover {
    color: #F7A38F;
}

.post-date {
    font-size: 0.9em;
    color: #666;
}

.summary {
    font-size: 0.9em;
    color: #333;
    margin-top: 0px;
}

.summary a {
    display: block;
    margin-top: 5px;
    color: #746A67;
}

.summary a:hover {
    text-decoration: underline;
}
/* Make tag titles look clickable */
/* Hide the post list by default */
.hidden {
    display: none;
}

.tag-title {
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns everything to the left */
    text-align: left; /* Ensures text itself is left-aligned */
    width: 100%;
    padding: 5px;
    background: linear-gradient(to right, #f8f8f8, #ffffff);
    border-radius: 1px;
    transition: background-color 0.3s;
       margin-top: 10px;
}

/* Dark mode */
body.dark-theme .tag-title {
    background: linear-gradient(to right, #333, #444);
    color: #fff;
}


/* Change background when hovering over the title */
.tag-title:hover {
    background-color: #e0e0e0;
}
body.dark-theme .tag-title:hover {
    background-color: #444; /* Slightly lighter on hover */
}
/* Add space between the arrow icon and text */
.toggle-icon {
    margin-right: 8px;
    font-weight: bold;
    flex-shrink: 0; /* Prevents icon from moving away */
}

.tag-list {
    margin-top: 10px;
 
    padding: 0;
    list-style: none;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-in;
    opacity: 0; /* Initially hidden */
    transform: translateY(-5px); /* Slight lift effect when appearing */
}

.tag-list:not(.hidden) {
    font-size: 0.8em;
    max-height: 500px;
    overflow: visible;
    opacity: 1;
    transform: translateY(0); /* Drop smoothly into place */
    padding-left: 1.5em;
    margin-bottom: 0%;
}
.tag-list li {
    padding: 5px 0;
    margin-bottom: 0%;
    border-bottom: 1px solid #ddd; /* Light separator */
}

.tag-list li:last-child {
  
    border-bottom: none; /* Remove last item border */
}

.tag-list a {
    display: block;
    font-size: 1em;
    color: #333;
    font-weight: 500;
    text-decoration: none;
    padding: 3px;
}

.tag-list a:hover {
    color: #F7A38F; /* Highlight on hover */
}

/* Dark Mode */
body.dark-theme .tag-list a {
    color: #F7A38F;
}

body.dark-theme .tag-list a:hover {
    color: #FFD1C1;
}


/* Dark Mode Adjustments */
body.dark-theme .tag-list li {
    border-bottom: 1px solid #444;
}


/* Dark mode for post list */
body.dark-theme .tag-list {
    background-color: #2a2a2a; /* Darker background */
    border-left: 4px solid #F7A38F; /* Highlight on expanded lists */
}

.tagged-posts-column {
    padding: 2px;
    border-radius: 1px;
    background-color: #f8f8f8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Dark mode */
body.dark-theme .tagged-posts-column {
    background-color: #252525;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.05);
}


/* Change links inside the post list for better contrast */
body.dark-theme .tag-list a {
    color: #F7A38F; /* Light orange/pink accent */
    text-decoration: none;
}

body.dark-theme .tag-list a:hover {
    text-decoration: underline;
}

/* Smooth transition for dark mode */
body.dark-theme .tag-title,
body.dark-theme .tag-list {
    transition: background-color 0.3s, color 0.3s;
}
.see-more {
    font-weight: bold;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #ddd;
}

body.dark-theme .see-more {
    border-top: 1px solid #444;

}.homepage-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 1024px) {
    .main-content {
        flex-direction: column; /* Stack sidebar below list */
    }
    
    .entries {
        width: 100%; /* Full width on small screens */
    }
    
    .sidebar {
        width: 100%; /* Full width so it doesn’t squeeze */
        max-width: none; /* Remove width restriction */
    }
}
 
@media (max-width: 768px) {
    .side-by-side .image-wrapper {
      flex: 1 1 100%;
    }
  }

  
 @media (min-width: 64em) {
    .sidebar {        
        text-align: center; /* Center text */
        overflow-y: auto;
        min-width: fit-content;
        width: 15%;
        height: 100%;
        align-items: center; /* Center align items in the sidebar */
        box-sizing: border-box; 
    }           
    .content {                   
        max-width: 50rem; 
        margin-left: auto;
        margin-right: auto;              
    }
    .sidebar-widgets {
        width: 10%;
        margin-left: 2%;
        margin-right: 3%;
    }
}    

@media (max-width: 48em) {
    .wrapper {
        flex-direction: column;
    }
    .hamburger {
        display: block;
    }
    .sidebar {
        width: 250px;
        transform: translateX(-100%);
    }
    .sidebar.active {
        transform: translateX(0);
    }

    .fixed-top-menu, .top-menu {
        display: flex; /* Show on small screens */
    }

    .top-menu.show {
        transform: translateY(0);
    }
    
    .fixed-top-menu.hide {
        transform: translateY(-100%);
    }
    
    .content {
        margin-left: 0;
        padding-top: 4rem;
    }
}
@media (max-width:550px) {
    .db-card { 
        margin: 0.8rem 1rem; 
    }
    .db-card-comment { 
        display: none; 
    }
}

@media (max-width: 600px) {
    .timeline-item {
        width: 100%;
    }

    .timeline-item::before {
        display: none;
    }
}
@media (min-width: 10em) {
    .bullet {
        margin-left: 1em;
        text-decoration-line: underline;
       /* text-decoration-style: dotted;*/
        text-decoration-thickness: 1%;
    }
    .sub-heading {
        margin-left: 1em;
    }
    .btn-light-dark svg {
        margin: auto;
        width: 10px;
        height: 10px;
        color: black;
    }
    .container.content {
        overflow-y: auto;
        padding-right: 2rem;
        flex-grow: 1;
    }
}

@media (min-width: 48em) {  
    .bullet {
            margin-left: 1em;
            text-decoration-line: underline;
           /* text-decoration-style: dotted;*/
            text-decoration-thickness: 1%;
    }
    .sub-heading {
            margin-left: 1em;
     }
    .btn-light-dark svg {
            margin: auto;
            width: 20px;
            height: 20px;
            color: black;
    }
     .container.content {
            overflow-y: auto;
            padding-right: 2rem;
            flex-grow: 1;  
            margin-left: 20%;    
    }    
    .sidebar {  
      text-align: center; /* Center text */
      overflow-y: auto;
       width: 15%;
       min-width: fit-content;
       height: 100%;
       align-items: center; /* Center align items in the sidebar */
       box-sizing: border-box;        
    }
    .content {
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto; /* Center it instead of fixed margin-left */
        width: 70%; /* Allow dynamic sizing */             
      }
    .post { 
        margin-left: 4%;     
    }
}
@media (min-width: 48em) {  
    .content {
        max-width: 900px; /* Allows it to be wider */
        width: 80%; /* Make it responsive */
        margin-left: auto;
        margin-right: auto; /* Center the content */
    }
}

@media (min-width: 64em) {
    .content {                   
        max-width: 1200px; 
        width: 85%;
        margin-left: auto;
        margin-right: auto; 
    }
}
.wrapper,
.grid-container,
.post-card {
    min-width: 100% !important;
}

@media (min-width: 48em) and (max-width: 64em) {
    .sidebar {
        width: 20%; /* Prevent sidebar from pushing content */
       
    }
    .content {
        width: 75%; /* Give more space to post list */
    }
}
 
/* Post card styles */
.entries {
    list-style: none;
    padding: 0; 
    width: 100%; /* Full width */
    max-width: 900px; /* Prevent shrinking */
    display: block;
}

/* Ensure each post-card takes full width */
.entries .post-card {
    display: block; /* Ensures post cards are stacked */
    width: 100%;
    max-width: 100%;
}

@media (min-width: 48em) and (max-width: 64em) {
    .sidebar {
        width: 18%; /* Reduce sidebar width */
        /* Prevents it from shrinking too much */
    }
    .content {
        width: 75%; /* Ensures post list gets more space */
    }
}
/* Blog List Page: Ensure Full Width */


/* Make Sure Sidebar Does Not Push Blog List */
@media (min-width: 48em) and (max-width: 64em) {
    .sidebar {
        width: 15%; /* Reduce sidebar width */
    }
    .content {
        width: 80%; /* Ensures more space for blog posts */
    }
}
