/* /static/css/custom.css */


.full-width-image {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.featured-image {
    max-width: 600px;  /* Adjust the size as needed */
    max-height: 200px; /* Adjust the size as needed */
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* /static/css/custom.css */

/* /static/css/custom.css */

.entries {
    list-style: none;
    padding: 0;
}

.post-card {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s, transform 0.3s;
    border: none;
}

.post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.post-image img {
    width: 100%;
    height: auto;
    display: block;
}

.post-content {
    padding: 15px;
}

.post-header {
    margin-bottom: 10px;
}

.post-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.post-title a {
    text-decoration: none;
    color: #333;
}

.post-title a:hover {
    color: #007bff;
}

.post-date {
    font-size: 0.9em;
    color: #666;
}

.summary {
    font-size: 1em;
    color: #333;
    margin-top: 10px;
}

.summary a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
}

.summary a:hover {
    text-decoration: underline;
}

.archive-link {
    text-align: center;
    margin-top: 20px;
}

.archive-link a {
    font-size: 1.2em;
    color: #007bff;
    text-decoration: none;
}

.archive-link a:hover {
    text-decoration: underline;
}

.archives {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.year {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.archive-item {
    margin-bottom: 5px;
}

.archive-date {
    font-size: 0.9em;
    color: #666;
    margin-right: 10px;
}

.archive-item a {
    text-decoration: none;
    color: #007bff;
}

.archive-item a:hover {
    text-decoration: underline;
}

.recent-updates {
    margin-top: 40px;
}
