{{ define "main" -}}
<h1 class="title">{{ .Title }}</h1>
<ul class="entries">
    {{ range .Pages.GroupByDate "2006" }}
    {{ if eq (len .Pages) 0 }}
    <p>No posts available yet.</p>
{{ end }}

        <h3 class="year-header">{{ .Key }}</h3>
        <ul> <!-- Nested list to properly group posts under year headers -->
        {{ range .Pages }}
            <li class="post-card">
                <div class="post-image">
                    {{ if .Params.featuredImage }}
                        <img src="{{ .Site.Params.imageBaseURL }}{{ .Params.featuredImage }}" alt="{{ .Title }}" class="featured-image">
                              {{ end }}
                </div>
                
                <div class="post-content">
                    <div class="post-header">
                        <h2 class="post-title">
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </h2>
                        <span class="post-date">{{ .Date | dateFormat "January 2, 2006" }}</span>
                    </div>
                    <div class="summary">
                        {{ .Summary | truncate 150 }}
                        {{ if gt (len .Summary) 150 }}
                            <div class="read-more-link">
                                <a href="{{ .RelPermalink }}">Read More…</a>
                            </div>
                        {{ end }}
                    </div>
                    
                </div>
            </li>
        {{ end }}
        </ul>
    {{ end }}
</ul>
{{ end }}