<hr>
<div class="footer">
    {{ if .PrevInSection }}
        <a class="previous-post" href="{{ .PrevInSection.Permalink }}?ref=footer">
            <span style="font-weight:bold;">« Previous</span><br>{{ .PrevInSection.Title | truncate 50 "..."}}</a>
    {{ end }}
    {{ if .NextInSection }}
        <div class="next-post">
            <a href="{{ .NextInSection.Permalink }}?ref=footer">
                <span style="font-weight:bold;">Next »</span><br>{{ .NextInSection.Title | truncate 50 "..." }}</a>
        </div>
    {{ end }}
</div>

</nav>
