<nav class="post-navigation">
    <div class="post-nav-links">
      {{ with .PrevInSection }}
      <div class="post-nav-prev">
        <a href="{{ .Permalink }}" rel="prev">
          <span class="post-nav-title">Previous Post</span>
          <span class="post-nav-name">{{ .Title }}</span>
        </a>
      </div>
      {{ end }}
  
      {{ with .NextInSection }}
      <div class="post-nav-next">
        <a href="{{ .Permalink }}" rel="next">
          <span class="post-nav-title">Next Post</span>
          <span class="post-nav-name">{{ .Title }}</span>
        </a>
      </div>
      {{ end }}
    </div>
  
    {{ if .Params.series }}
    <div class="post-series">
      <h3>Series</h3>
      <ul class="series">
        {{ range .Params.series }}
        <li class="series-item">
          <a href="{{ "series/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </nav>
  