<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{ partial "head/head.html" . }}
</head>
<body class="{{ if .Site.Params.layoutReverse }}layout-reverse {{ end }}{{ if .Site.Params.dark_mode }}dark-theme{{ end }}">
    <div class="wrapper">
        {{ partial "sidebar/sidebar.html" . }}
        <main class="content container{{ if .IsHome }} full-width{{ end }}">
            {{ block "main" . }}
            {{ end }}
        </main>
        {{ if and (not (eq .Kind "home")) (not (eq .Kind "section")) }}
        {{ block "sidebar" . }}
            {{ if .IsHome }}
                {{ partial "sidebar/tags.html" . }}
                {{ partial "sidebar/series.html" . }}
            {{ else if .IsPage }}
                {{ if and (not .Params.hideToc) (not .Site.Params.hideToc) }}
                    {{ partial "table_of_contents.html" . }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ end }}
    </div>
</body>
</html>
