{{ define "main" -}}
<h1 class="title">{{ .Title }}</h1>
<ul class="entries">
    {{ range .Pages.GroupByDate "2006" }}
        <h3 class="year-header">{{ .Key }}</h3>
        {{ range .Pages }}
            <li class="post-item">
                <div class="post-header">
                    <span class="title">
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </span>
                    <span class="published">
                        <time class="post-date">{{ .Date | time.Format ":date_long" }}</time>
                    </span>
                </div>
                <div class="summary">
                    {{ if .Params.description }}
                        {{ .Params.description | truncate 50 }}
                    {{ else }}
                        {{ .Summary | truncate 50 }}
                    {{ end }}
                    {{ if or (.Params.description | len | gt 50) (.Summary | len | gt 50) }}
                        <a href="{{ .RelPermalink }}">Read More…</a>
                    {{ end }}
                </div>
            </li>
        {{ end }}
    {{ end }}
</ul>
{{ end }}
