<div class="tagged-posts">
    <div class="tagged-posts-columns">
        {{ $tagGroups := slice
            (dict "name" "工作/学习" "tags" (slice "工作" "学习"))
            (dict "name" "诗" "tags" (slice "诗"))
            (dict "name" "书影音" "tags" (slice "书" "影视" "音乐"))
            (dict "name" "随笔总结" "tags" (slice "随笔" "总结"))
        }}
        {{ range $tagGroups }}
            {{ $posts := where (site.RegularPages) "Params.tags" "intersect" .tags }}
            {{ if gt (len $posts) 0 }}
            <div class="tagged-posts-column">
                <h3>{{ .name }}</h3>
                <ul>
                    {{ range $posts }}
                        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        {{ end }}
    </div>
</div>
