{{ define "main" -}}
<div class="main-content full-width">
    <div class="posts">
        {{ partial "tagged-posts.html" . }}
        <hr style="margin-top: 20px; margin-bottom: 20px;">
        <h2 style="margin-top: 20px;">最近更新</h2>
        {{ range (.Paginate (where .Site.RegularPages "Type" "in" .Site.Params.front_page_content)).Pages }}
        <article class="post-card">
            <div class="post-content">
                {{ partial "post/info.html" . }}
                <div class="summary">
                    {{ .Summary | truncate 150 }}
                    {{ if .Truncated }}
                    <div class="read-more-link">
                        <a href="{{ .RelPermalink }}">Read More…</a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </article>
        {{- end }}
    </div>
    <div class="sidebar-widgets">
        {{ partial "sidebar/tagcloud.html" . }}
        {{ partial "sidebar/seriescloud.html" . }}
    </div>
</div>
{{ partial "pagination.html" . }}
{{- end }}
