{{ define "main" -}}
<div class="main-content full-width">
    <div class="posts">
        <h2 style="margin-top: 20px;">To find, and to be found</h2>
        {{ partial "tagged-posts.html" . }}
        <hr style="margin-top: 20px; margin-bottom: 20px;">
        <div class="year-progress-container">
            <h2>Year Progress</h2>
            <div id="year-progress-bar" class="year-progress-bar">
                <div id="year-progress-fill" class="year-progress-fill"></div>
            </div>
            <div id="year-progress-text" class="year-progress-text"></div>
        </div>
        <hr style="margin-top: 20px; margin-bottom: 20px;">
        {{ partial "heatmap.html" . }}
        <hr style="margin-top: 20px; margin-bottom: 20px;">
        <h2 style="margin-top: 20px;">最近更新</h2>
        {{ range (.Paginate (where .Site.RegularPages "Type" "in" .Site.Params.front_page_content)).Pages }}
        <article class="post-card">
            <div class="post-content">
                {{ partial "post/info.html" . }}
                <div class="summary">
                    {{ .Summary | truncate 150 }}
                    {{ if .Truncated }}
                    <div class="read-more-link">
                        <a href="{{ .RelPermalink }}">Read More…</a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </article>
        {{- end }}
    </div>
    
</div>
{{ partial "pagination.html" . }}
<script>
    function updateYearProgress() {
        const now = new Date();
        const start = new Date(now.getFullYear(), 0, 0);
        const end = new Date(now.getFullYear() + 1, 0, 0);
        const yearElapsed = (now - start) / (end - start);
        const percentage = Math.floor(yearElapsed * 100);

        document.getElementById('year-progress-fill').style.width = percentage + '%';
        document.getElementById('year-progress-text').innerText = percentage + '%';
    }

    updateYearProgress();
</script>
{{- end }}
